<!DOCTYPE html>
<html>
<head>
  <title>Pingpong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if notice %>
        <div id="notice" class="alert alert-success text-center">
          <%= notice %>
        </div>
      <% end %>
      
    <%= yield %>
  </div>
</body>
</html>
